#wrap table{width:100%; text-align: center; border-top:2px solid #444;margin: 0 0 20px 0; border-spacing: 0;border-collapse: collapse; }
#wrap .board_list_tb th{background-color: #FFF8EA;}
#wrap .board_list_tb strong{color:#A94A3E;}
#wrap .board_list_tb .board_t a{text-align: left; display: flex; gap:10px; color:#111; align-items: center;}

#wrap .board_list_tb .board_t a span:hover{text-decoration: underline;}
#wrap .board_list_tb th, #wrap .board_list_tb td {padding:15px 10px; box-sizing: border-box; border-bottom:1px solid #444;}
#wrap .board_list_tb td{color:#444;}
#wrap .board_list_tb tr:hover{background-color: #f5f5f5;}