@charset 'utf-8';

/*전체 공통*/
html,body {
    /* Prevent font scaling in landscape */
    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none;
    /*Firefox*/
    -ms-text-size-adjust: none;
    /*Ie*/
    -o-text-size-adjust: none;
    /*old versions of Opera*/
}
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,em,img,small,strong,b,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tr,th,td,article,aside,footer,header,nav,section,summary,video,* {padding: 0;margin: 0;}
ol, ul{list-style: none;}
fieldset{border: none;vertical-align: top;}
button{border:none; background: transparent; vertical-align: middle; cursor: pointer;}
img{display: block;}
a{text-decoration: none; color:inherit;}

/* webfont */
body {font-size:16px; line-height:26px; font-family: 'SUIT Variable', 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', Arial, Helvetica, sans-serif; letter-spacing: -0.2px;}

#wrap{min-width: 1320px;}
.inner{width:1320px; margin:0 auto;}
.gnb h2, legend{overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); clip-path: polygon(0 0, 0 0, 0 0); width: 1px; height: 1px; margin: -1px;}
.blind{overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); clip-path: polygon(0 0, 0 0, 0 0); width: 1px; height: 1px; margin: -1px;}

/*헤더*/
header{height:80px; border-bottom:2px solid #E03F3F; padding-top:20px; box-sizing: border-box;}
header .inner{display: flex; justify-content: space-between; align-items: center;}

.gnb_area{width:100%; display: flex; align-items: center;  box-sizing: border-box;}
.gnb{display: flex; align-items: center;margin-left:100px; }
.gnb > ul{display: flex;}
.gnb > ul > li > a{font-size:18px; text-transform: uppercase; font-weight:900; padding:0 30px 28px; box-sizing: border-box;}
.gnb > ul > li:hover > a{color:#c51616;}

header fieldset{display: flex;}
#search{border:0; padding:10px; box-sizing: border-box; border-bottom:1px solid #222; display: none;}
#search.active{display: block;}



/* 서브메뉴 */
.submenu{min-width:100%; border-top:1px solid #ccc; background-color: #fff; border-bottom:1px solid #E03F3F; position:absolute; top:78px; left:0; padding:15px 0; z-index: 99; opacity: 0;transform: translateX(-20px); transition: all 0.25s ease; pointer-events: none;}
.submenu.on{opacity: 1;transform: translateX(0); pointer-events: auto;}
.submenu .inner{display: flex; justify-content: center;}
.submenu ul{display: flex;}
.submenu ul li a{font-size: 16px; margin-right:30px; padding-right:30px; border-right: 1px solid #aaa;}
.submenu ul li a:hover{color:#E03F3F; font-weight: 700;}
.submenu ul li:last-child a{border-right: none;}


/* 푸터 */
.fmenu {padding:20px 0; border-top:1px solid #222;}
.fmenu .inner{display: flex;}
.fmenu li a{display: block; margin-right: 20px;}

.finfo{background:#402525; padding:60px 0 30px; color:#ada2a2; font-size:15px;}
.finfo .inner{position:relative;}
.finfo p:nth-child(1){margin-bottom:10px;}
.finfo .copy{margin-top:10px;}
.finfo .bullet{margin-right:20px; position:relative;}
.finfo .bullet:before{display: block; content:""; width:6px; height:6px; background-color: #ada2a2; border-radius: 50%; position: absolute; top:8px; right:-15px;}
.finfo b{margin-right:8px;}
.sns a{display:block; position:absolute; top:0; right:0; width:38px; height:38px; background:url(/images/common/f_insta.png) no-repeat; opacity: 0.5;}
.sns a:hover{opacity: 0.8;}